body{
    background-color: rgb(116, 228, 213);
}
.tunico{
    color: black;
}
.eu{
    color: rgb(2, 2, 2);
}
.lays{
    color: rgb(0, 0, 0);
}
.barmen{
    width: 950px;

}
.placa{
    width: 862px;
}
